<!DOCTYPE html>
<html lang="en" ng-app="pongApp">
 <head>
  <title>Angular.js App</title>
  <script src="http://code.angularjs.org/1.2.8/angular.js"></script>
  <script src="controllers.js"></script>
  <link rel="stylesheet" href="main.css"/>
 </head>
 <body ng-controller="PongCtrl">
  <svg viewBox="0 0 1000 600" id="pong">
   <rect width="10" height="100" x="10" ng-attr-y="{{player.paddlePosition}}"/>
   <rect width="10" height="100" x="980" ng-attr-y="{{computer.paddlePosition}}"/>
   <circle r="10" ng-attr-cx="{{ball.x}}" ng-attr-cy="{{ball.y}}"/>
  </svg>
 </body>
</html>
